<%= form_for [current_user,Item.new] do |f| %>
    <div class="form-group">
        <%= f.label "Enter tasks you want to follow up on" %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter new item" %>
        <%= f.submit %>
        
    </div>
<% end %>
