<%# byebug %>

<%= form_for [@user,Item.new] do |f| %>
    <div class="form-group">
        <%= f.label :item %>
        <%= f.text_field :name, class: 'form-control', placeholder: "Enter new item" %>
        <%= f.submit %>
        
    </div>
<% end %>
